# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environment
venv/
.venv/

# Database
db.sqlite3

# Static collected files
staticfiles/

# Env files
.env

# IDE
.vscode/
.idea/
=======
# Created by venv; see https://docs.python.org/3/library/venv.html
*venv/
__pycache__/

